h1{
    color: rgb(233, 124, 124);
}
#miles{
    width: 20%;
    height: auto;
    border: solid 1px gray;
}
#gwen{
    width: 20%;
    height: auto;
    border: solid 1px gray;
}
#peter{
    width: 20%;
    height: auto;
    border: solid 1px gray;
}
#may{
    width: 20%;
    height: auto;
    border: solid 1px gray;
}
#porco{
    width: 20%;
    height: auto;
    border: solid 1px gray;
}