h1{
    color: rgb(233, 124, 124);
    text-align: center;
    text-shadow: 2px 2px 28px rgb(124, 29, 29);
}
.quadrado{
    width: 20%;
    height: auto;
    border: solid 1px gray;
}
#miles{
    width: 20%;
    height: auto;
    border: solid 1px gray;
    text-align: center;
    margin-bottom: 40px;
}
#gwen{
    width: 20%;
    height: auto;
    border: solid 1px gray;
    text-align: center;
    margin-bottom: 40px;
}
#peter{
    width: 20%;
    height: auto;
    border: solid 1px gray;
    text-align: center;
    margin-bottom: 40px;
}
#may{
    width: 20%;
    height: auto;
    border: solid 1px gray;
    text-align: center;
    margin-bottom: 40px;
}
#porco{
    width: 20%;
    height: auto;
    border: solid 1px gray;
    text-align: center;
    margin-bottom: 40px;
}