
h1{
    color: red;
    text-align: center;
    font-size: 40px;
}
p{text-align: center;

   

}

#a{
    color: green;
}
#b{
color: blue;
}
#c{
    color:yellow ;
}
#d{
    color: pink;
}
#quadrado{
    width: px ;
    height: px ;
    background-color: rgb(64, 64, 187);}
#quadrado2{
    
    background-color: rgb(201, 221, 111);
    width: px ;
    height: px ;
}
.basico{
    width: 200px ;
    height:50px ;
    background-color: black;
    padding-top: 10px;
    
}
#aa{
   
    background-color: rgba(255, 25, 25, 0.945);
}
#bb{
   
    background-color: rgb(202, 48, 48);
}
#cc{
   
    background-color: rgb(165, 61, 61);
}
#dd{
  
    
    background-color: rgb(114, 55, 55);
}
#ee{
   
    background-color:rgb(44, 29, 29)
}
#ff{
    
    background-color:rgb(70, 52, 52)
}
#gg{
    
    background-color:rgb(112, 87, 87)
}
#hh{
   
    background-color:rgb(124, 84, 84)
}
#ii{
   
    background-color: rgb(180, 100, 100);
}
#jj{
    
    background-color:rgb(228, 121, 121)
}
#titulo{
    color: black;
    
}
p{
    text-align: center;
    color: white;
    font-size: 15px;
}